body {
    padding: 60px;
    background: rgb(189, 241, 128);
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.btn-class {
    padding: 6px;
    height: 70px;
    width: 190px;
    background: green;
    color:rgb(12, 235, 149);
    cursor: pointer;
    display: inline-block;
}

h1 {
    font-size: 50px;
    color: green;
}