<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Игры</title>
</head>
<body>
    
<h2>
    {{descriptionValue}}
</h2>

{{#each gamesArray}}
        <div style="background: rgb(241, 241, 132); margin-bottom: 15px; padding: 8px;">
            Имя: {{this.name}} 
            <br>
            Фамилия: {{this.descr}}
            <br> 
            Роль: {{this.ageLimit}}
        </div>
{{/each}}

</body>
</html>
